.input-amount {
  height: 200px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .input-content {
    height: 30px;
    width: 300px;
  }
}