@import "variables";

* {
    box-sizing: border-box;
}

html,
body,
div {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: $font-family;
    background-color: $body-background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $basic-font-size;
}