$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$body-background-color: #f6ffdf;
$default-font-color: cadetblue;

$camellia-blue: #001345;
$camellia-tea: #B4A117;
$camellia-white: #E9DABB;
$slices-orange: #DF7226;
$slices-pink: #FEC8A7;
$slices-brown: #643223;

$primary-color: #003d4f;
$pure-white: #ffffff;
$search-placeholder: rgba(255, 255, 255, 0.2);

$header-height: 130px;
$footer-height: 60px;

$basic-font-size: 1rem;