@import "../styles/variables.scss";

.amount-display {
  font-size: 1.25rem;
}

.bill-tag {
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.75rem;
  border-radius: 50px;
  background: linear-gradient(225deg, #dde6c9, #ffffef);
  box-shadow: -20px 20px 60px #d1d9be, 20px -20px 60px $pure-white;
}