@import "./styles/variables.scss";

.App {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

.search-holder {
    height: 32px;
    margin: 16px;
    background: $search-placeholder;
}

.site-layout {
    .site-header {
        padding: 0 16px;
        font-size: 1.75rem;
        background: $pure-white;
    }

    .site-content {
        margin: 0 16px;

        .site-breadcrumb {
            margin: 16px 0;
        }

        .display-content {
            padding: 24px;
            min-height: 360px;
            background: $pure-white
        }
    }

    .site-footer {
        text-align: center
    }
}